extends layout 


block content 
    div.post-card.border-secondary.border
          div.card-header
            img(src = ((undefined == userPicture) ? '/images/default_user_image.jpg' : '/'+ userPicture )).image-user-feed.rounded-circle
            div.card-title
                a(href='/home/user/'+post.PostAuthor.UserId)
                    h5='@'+post.PostAuthor.UserId
            if(session)
              if(session.Status == 'Admin')
                form(method='POST' action='/home/user/'+post.PostAuthorId+'/post/'+post._id+'/delete?_method=get' encode="X-www-form-urlencoded"  style="display:inline-block")
                  div.form-group
                      input.form-control(type='hidden',name='delete', required='true' )
                      button.btn.btn-dark(type='submit') Delete
          div.image-post-feed
            img(src= ((undefined == post.PostPicture) ? '' : '/'+post.PostPicture)).image-post-feed
          if(session)
                if(session.Identify == post.PostAuthor.UserId)
                div.card-body
                    p.card-text= post.PostDescription  
                    p= 'Publié le ' + post.date
                    a(href='/home/user/'+post.PostAuthor.UserId+'/post/'+post._id+'/update').btn.btn-primary Update
    form(method='POST' action='').text-center
        div.form-group
            label(for='content') Commentaire:
            textarea#content.form-control(type='textarea', placeholder='Your comment' name='content',maxlength='499')
        button.btn.btn-primary(type='submit') Valider
    div(style="text-align:center").comments
        each comment in comments
            div.comment.card
                div.card-header.card-comment-header
                    img(src = ((undefined == comment.CommentAuthorId.UserPicture) ? '/images/default_user_image.jpg' : '/'+ comment.CommentAuthorId.UserPicture )).image-user-feed.rounded-circle
                    p= comment.CommentAuthorId.UserId
                div.card-body
                    p.comment-display= comment.CommentContent
                p= comment.date

